.logIn-box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(196, 212, 207);
}

.logInForm{
    display: flex;
    flex-direction: column;
}